.table-container {
	display: flex;
	flex-direction: column;
	width: 100%
}

.flex-table {
	display: flex;
	flex-flow: row nowrap;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}

.flex-cell {
	width:fit-content;
	display: flex;
	flex-flow: row wrap;
	width: 20%;
}

.task-cell {
	background-color: red;
	margin: 0.1em;
}

.table-head {
	font-weight: bold;
	font-size: large;
	background-color: #1976D2;
	color: lightgray;
}