.table-container {
	display: flex;
	flex-direction: column;
	width: 100%
}

.flex-table {
	display: flex;
	flex-flow: row nowrap;
}

.flex-row {
	display: flex;
	flex-flow: row nowrap;
}

.flex-cell {
	width:fit-content;
	display: flex;
	flex-flow: row wrap;
	width: 20%;
}

.task-cell {
	background-color: red;
	margin: 0.1em;
	padding: 0.5em;
	flex-direction: column;
	position: relative;
}

.table-head {
	font-weight: bold;
	font-size: large;
	background-color: #1976D2;
	color: lightgray;
}

.task-form {
	margin-bottom: 1.5em;
}

.task-form-fields {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em 1em;
	margin-bottom: 0.5em;
}

.task-form-fields label {
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
}

.task-form-fields button {
	align-self: flex-end;
}

.edit-button {
	align-self: flex-start;
}

.delete-form {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
}

.delete-button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.1em;
}

.modal {
	align-items: center;
	background: rgba(0, 0, 0, 0.55);
	display: none;
	inset: 0;
	justify-content: center;
	position: fixed;
	z-index: 10;
}

.modal.is-open {
	display: flex;
}

.modal-content {
	background: #ffffff;
	border-radius: 6px;
	max-width: 560px;
	padding: 1.5em;
	width: 90%;
}

.modal-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.modal-close {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5em;
}

.modal-actions {
	display: flex;
	gap: 0.5em;
	justify-content: flex-end;
	width: 100%;
}
